/* styles.css
   Styles for Four Card Feature Challenge from Frontend Masters
*/

/* Default settings */

:root {
  --font-size: 15px;

  --color-supervisor:   hsl(180, 62% , 55%);
  --color-team-builder: hsl(0, 78%, 62%);
  --color-karma:        hsl(34, 97%, 64%);
  --color-calculator:   hsl(212, 86%, 64%);
      
  --color-neutral-dark:   hsl(234, 12% , 34%);
  --color-neutral-light:  hsl(0, 0%, 98%);
  --color-neutral-middle: hsl(229, 6% , 66%);
      
  --font-sans: 'Poppins', 'Helvetica', 'Arial', sans-serif;
}
    
body {
  padding: 5rem 2rem;
  background-color: var(--color-neutral-light);
  font-family: var(--font-sans);
}
    
header {
  color: var(--color-neutral-dark);
  text-align: center;
}
    
main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
    
.page-title {
  font-weight: 200;
  font-size: 1.5rem;
}
    
.page-subtitle {
  font-size: 1.5rem;
  font-weight: 600;
}
    
.page-intro {
  font-size: 1rem;
  color: var(--color-neutral-middle);
  margin: 1rem auto 5rem;
  max-width: 25rem;
}
    
.card {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 25rem;
  margin: 0 1.25rem 2rem;
  padding: 2rem 2rem 9rem;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: bottom 2rem right 2rem;
  border-top-width: 5px;
  border-top-style: solid;
  border-radius: 6px;
  box-shadow: 0 5px 10px 5px hsla(234, 12% , 34%, 10%);
}
    
.card-supervisor {
  border-top-color: var(--color-supervisor);
  background-image: url('../images/icon-supervisor.svg');
}
    
.card-team-builder {
  border-top-color: var(--color-team-builder);
  background-image: url('../images/icon-team-builder.svg');
}
    
.card-karma {
  border-top-color: var(--color-karma);
  background-image: url('../images/icon-karma.svg');
}
    
.card-calculator {
  border-top-color: var(--color-calculator);
  background-image: url('../images/icon-calculator.svg');
}
    
.card-title {
  font-size: 1.25rem;
  color: var(--color-neutral-dark);
}
    
.card-desc {
  font-size: 1rem;
  color: var(--color-neutral-middle);
  margin-top: 1rem;
}    
    
footer {margin-top: 5rem;}  
.attribution {font-size: 0.75rem; text-align: center;}
.attribution a {color: hsl(228, 45%, 44%);}
   
/* Intermediate breakpoint to increase width of page intro */
@media screen and (min-width: 60.05rem) {
  .page-title, .page-subtitle {
    font-size: 1.75rem;
  }

  .page-intro {
    max-width: 37.5rem;
  }  
}

/* Breakpoint for wide layout */
@media screen and (min-width: 87.5rem) {
  main {
    max-width: 87.5rem;
    margin: 0 auto;
  }
  
  .page-title, .page-subtitle {
    font-size: 2rem;
  }
      
  .card-supervisor, .card-calculator {
    transform: translateY(50%);
  }

  .card-karma {
    order: 1;
  }      
}